<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="2">
    <test verbose="2" preserve-order="true"
          name="C:/Users/joshf/Downloads/WebAutomationPOM_B28/src/test/java/testcases">
        <classes>
            <class name="testcases.TestHomePage">
                <methods>
                    <include name="testHomePageURL"/>
                    <include name="testHomePageTitle"/>
                </methods>
            </class>
            <class name="testcases.TestLoginPage">
                <methods>
                    <exclude name="testLoginWithValidCredentials"/>
                    <include name="testLoginWithInvalidPassword"/>
                    <include name="testLoginWithInvalidEmailAndPassword"/>
                    <include name="testLoginWithInvalidEmailAndValidPassword"/>
                    <include name="testLoginWithoutEmailAndPassword"/>
                    <include name="testLoginEmailAndWithoutPassword"/>
                    <exclude name="testLoginWithInvalidCredentials"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>